USE [master]
GO
/****** Object:  Database [backupdb]    Script Date: 31/10/2025 10:45:01 a. m. ******/
CREATE DATABASE [backupdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'backupdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MISQLEXPRESS\MSSQL\DATA\backupdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'backupdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MISQLEXPRESS\MSSQL\DATA\backupdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [backupdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [backupdb]
GO
/****** Object:  Table [dbo].[note]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[note](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](20) NOT NULL,
	[description] [varchar](max) NULL,
	[date] [date] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_note] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permission]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[code] [varchar](25) NOT NULL,
	[description] [varchar](100) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[position]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[position](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[description] [varchar](50) NULL,
 CONSTRAINT [PK_position] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[positionId] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[creationDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermission]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[permissionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Permission] UNIQUE NONCLUSTERED 
(
	[userId] ASC,
	[permissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[note] ADD  DEFAULT ((1)) FOR [UserId]
GO
ALTER TABLE [dbo].[permission] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('5/10/2025') FOR [creationDate]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([positionId])
REFERENCES [dbo].[position] ([id])
GO
ALTER TABLE [dbo].[UserPermission]  WITH CHECK ADD  CONSTRAINT [FK_UserPermission_permission] FOREIGN KEY([permissionId])
REFERENCES [dbo].[permission] ([id])
GO
ALTER TABLE [dbo].[UserPermission] CHECK CONSTRAINT [FK_UserPermission_permission]
GO
ALTER TABLE [dbo].[UserPermission]  WITH CHECK ADD  CONSTRAINT [FK_UserPermission_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[UserPermission] CHECK CONSTRAINT [FK_UserPermission_user]
GO
/****** Object:  StoredProcedure [dbo].[authorizeAccess]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[authorizeAccess]
@userId int
as
begin
if not exists (select 1 from [user] where id = @userId)
begin
	raiserror('El usuario expecificado no existe',16,1)
	return
end

if exists (select 1 from [user] where id = @userId and active = 0)
begin
	raiserror('El usuario esta inactivo',16,1)
	return
end

if not exists (select 1 from userPermission where userId = @userId)
begin
	raiserror('El usuario no tiene permisos asignados',16,1)
	return
end


select p.id, p.code from UserPermission up inner join permission p on up.permissionId = p.id where up.userId = @userId and p.active = 1
end
GO
/****** Object:  StoredProcedure [dbo].[deleteNote]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deleteNote]
@id int
as
delete from note
where id = @id
GO
/****** Object:  StoredProcedure [dbo].[deletePermission]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deletePermission]
@id int
as

update permission
set active = 0
where id = @id
GO
/****** Object:  StoredProcedure [dbo].[deletePosition]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deletePosition]
@id int
as

delete from position
where id = @id
GO
/****** Object:  StoredProcedure [dbo].[deleteUser]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deleteUser]
@id int
as
update [user] 
set active = 0
where id = @id
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserPermission]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[DeleteUserPermission]
@userId int,
@permissionId int
as
begin

if not exists (select 1 from [user] where id = @userId)
begin
	raiserror('El usuario ingresado no existe',16,1)
	return
end

if not exists (select 1 from permission where id = @permissionId)
begin
	raiserror('El permiso ingresado no existe',16,1)
	return
end

if not exists (select 1 from UserPermission where userId = @userId and permissionId = @permissionId)
begin
	raiserror('No hay un permiso asgnado a este usuario.',16,1)
	return
end



delete from UserPermission
where userId = @userId and  permissionId = @permissionId
end
GO
/****** Object:  StoredProcedure [dbo].[GetAllUser]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllUser]
as
select u.id, u.name, u.positionId, p.name as 'position', u.creationDate from [user] u inner Join Position p on u.positionId = p.id
where active = 1
GO
/****** Object:  StoredProcedure [dbo].[getNoteByDate]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getNoteByDate]
@startDate date = null,
@endDate date = null
as
select * from note
where (@startDate is null or date >= @startDate)
and
(@endDate is null or date <= @endDate)
order by date asc
GO
/****** Object:  StoredProcedure [dbo].[getNoteById]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getNoteById]
@id int 
as
select note.id, title, description,date, UserId, u.name as 'username' from note inner join [user] u on note.UserId = u.id where u.active = 1 and note.id = @id;
GO
/****** Object:  StoredProcedure [dbo].[getNotes]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getNotes]
as
select note.id, title, description,date, UserId, u.name as 'username' from note inner join [user] u on note.UserId = u.id where u.active = 1
order by date asc;
GO
/****** Object:  StoredProcedure [dbo].[getNotesByUserId]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getNotesByUserId]
@UserId int 
as
begin
if not exists (select 1 from [user] where id = @UserId)
begin
raiserror('El usuario no existe',16,1)
return
end
select id, title, description, date from note where UserId = @UserId
end
GO
/****** Object:  StoredProcedure [dbo].[GetNotesByUsers]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetNotesByUsers]
@startDate date = null,
@endDate date = null
as
select u.id, u.name as 'username', p.name as 'cargo', n.title, n.description, n.date from note n inner join [user] u on u.id = n.UserId AND (@startDate IS NULL OR n.date >= @startDate)
        AND (@endDate IS NULL OR n.date <= @endDate) inner join position p on p.id = u.positionId
GO
/****** Object:  StoredProcedure [dbo].[getPermissionById]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getPermissionById]
@id int
as

begin

if not exists (select 1 from permission where id = @id)
begin
raiserror('No existe un permiso con este id',16,1)
return
end

select * from permission
where id = @id

end
GO
/****** Object:  StoredProcedure [dbo].[getPermissions]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getPermissions]


as
select id, name,code,description, active from permission
GO
/****** Object:  StoredProcedure [dbo].[getPermissionsByUser]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getPermissionsByUser]
@userId int
as
IF NOT EXISTS (SELECT 1 FROM [User] WHERE id = @userId)
    BEGIN
        RAISERROR('El usuario especificado no existe', 16, 1);
        RETURN;
    END
select up.id as userPermissionId, u.name as username, p.id as permissionId, p.name as permission from UserPermission up inner join permission p on p.id = up.permissionId 
inner join [user] u on u.id = up.userId
where up.userId = @userId and p.active = 1
GO
/****** Object:  StoredProcedure [dbo].[getPositionById]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getPositionById]
@id int
as
select * from position
where id = @id
GO
/****** Object:  StoredProcedure [dbo].[getPositions]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getPositions]
as
select * from position
GO
/****** Object:  StoredProcedure [dbo].[getReportUserNotes]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getReportUserNotes]
@startDate date = null,
@endDate date = null
as
SELECT 
        u.id,
        u.name,
        p.name AS cargo,
        COUNT(n.id) AS registros,
        u.active AS status
    FROM [user] u
    LEFT JOIN note n 
        ON u.id = n.UserId
        AND (@startDate IS NULL OR n.date >= @startDate)
        AND (@endDate IS NULL OR n.date <= @endDate)
    INNER JOIN position p 
        ON p.id = u.positionId
    GROUP BY 
        u.id,
        u.name, 
        p.name, 
        u.active
    ORDER BY registros DESC;
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetUserById]
@id int
as
select u.id, u.name, u.positionId, p.name as 'position' from [user] u inner Join Position p on u.positionId = p.id
where u.id = @id
GO
/****** Object:  StoredProcedure [dbo].[InsertNote]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertNote]
@title varchar(50),
@description varchar(max),
@date date,
@userId int
as

insert into note(title,description,date, UserId) values(@title,@description,@date,@userId)
GO
/****** Object:  StoredProcedure [dbo].[InsertPermission]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPermission]
    @name VARCHAR(50),
    @code VARCHAR(25),
    @description VARCHAR(100) = NULL
AS
BEGIN
    IF EXISTS (SELECT 1 FROM permission WHERE code = @code)
    BEGIN
        RAISERROR('El código ya existe. Debe ser único.', 16, 1);
        RETURN;
    END

    INSERT INTO permission (name, code, description)
    VALUES (@name, @code, @description);
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertPosition]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertPosition]
@name varchar(20),
@description varchar(50)
as
begin
if exists (select 1 from position where name = @name)
begin

 RAISERROR('El cargo ya existe.', 16, 1);
     RETURN;

end

insert into position(name,description) values(@name, @description)
end
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertUser]
@name varchar(50),
@positionId int
as
insert into [user] (name,positionId, creationDate) values(@name, @positionId,GETDATE())
SELECT SCOPE_IDENTITY() AS NewUserId;
GO
/****** Object:  StoredProcedure [dbo].[InsertUserPermission]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUserPermission]
    @userId INT,
    @permissionId INT
AS
BEGIN
    -- Verificar si el usuario existe
    IF NOT EXISTS (SELECT 1 FROM [User] WHERE id = @userId) 
    BEGIN
        RAISERROR('El usuario especificado no existe', 16, 1);
        RETURN;
    END

    -- Verificar si el permiso existe
    IF NOT EXISTS (SELECT 1 FROM Permission WHERE id = @permissionId) 
    BEGIN
        RAISERROR('El permiso especificado no existe', 16, 1);
        RETURN;
    END

    -- Verificar si el permiso está activo
    IF EXISTS (SELECT 1 FROM Permission WHERE id = @permissionId AND active = 0)
    BEGIN
        RAISERROR('El permiso no está activo', 16, 1);
        RETURN;
    END

    -- Verificar si el usuario ya tiene asignado el permiso
    IF EXISTS (SELECT 1 FROM UserPermission WHERE userId = @userId AND permissionId = @permissionId)
    BEGIN
        RAISERROR('El usuario ya tiene asignado este permiso', 16, 1);
        RETURN;
    END

    -- Insertar el permiso
    INSERT INTO UserPermission(userId, permissionId)
    VALUES(@userId, @permissionId);
END
GO
/****** Object:  StoredProcedure [dbo].[updateNote]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[updateNote]
@id int,
@title varchar(50),
@description varchar(max),
@userId int

as

update note
set 
title = @title,
description = @description,
UserId = @userId
where id = @id
GO
/****** Object:  StoredProcedure [dbo].[updatePermission]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[updatePermission]
@id int,
@name varchar(50),
@code varchar(25),
@description varchar(100),
@active bit
as

begin

if not exists (select 1 from permission where id = @id)
begin
 raiserror('No existe el permiso que estas consultando',16,1)
 return
end


if exists (select 1 from permission where code = @code AND id <> @id)
begin
	raiserror('Este codigo ya existe',16,1)
	return
end

update permission
set name = @name,
description =  @description,
code = @code,
active = @active
where id = @id

end
GO
/****** Object:  StoredProcedure [dbo].[updatePosition]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updatePosition]
@id int,
@name varchar(20),
@description varchar(50)
as

update position
set name = @name,
description = @description
where id = @id
GO
/****** Object:  StoredProcedure [dbo].[updateUser]    Script Date: 31/10/2025 10:45:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updateUser]
@id int,
@name varchar(50),
@positionId int
as
update [user]
set name = @name,
positionId = @positionId
where id = @id
GO
USE [master]
GO
